footer {
    background-color: rgba(3, 22, 53, 0.6);
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
  }
footer  ul {
    list-style-type: none;
    display: flex;
    padding: 30px 100;
    margin: 0;
    flex-wrap: wrap;
    justify-content: center;
}
footer  ul li {
    color: aliceblue;
    display: inline-block;
    padding-right: 30px;
}