* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a{ 
    text-decoration: none;
    color: #00EBB5;
}
.Profilebody {
    width: 100%;
    min-height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url(../background.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contaier {
    width: 400px;
    min-height: 400px;
    background: rgba(0, 235, 181, 0.1);
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 40px 30px;
}

.contaier .login-text {
    color: #111;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 20px;
    display: block;
    text-transform: capitalize;
}

.contaier  .input-group {
    width: 100%;
    height: 50px;
    margin-bottom: 25px;
}

.contaier  .input-group input {
    width: 100%;
    height: 100%;
    border: 2px solid #000000;
    padding: 15px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background: transparent;
    outline: none;
    transition: .3s;
}
.contaier .login-register-text{
    color: rgba(208, 208, 208,0.5);
}
.contaier  .input-group input{
    border-color: #ffffff;
    color: #ffffff;
}
.contaier  .input-group input:focus{
    border-color: #00EBB5;
}
.contaier  .input-group input:valid{
    border-color: #ffffff;
}
.contaier  .input-group .btn {
    display: block;
    width: 100%;
    padding: 15px 20px;
    text-align: center;
    border: none;
    background: #ffffff;
    outline: none;
    border-radius: 30px;
    font-size: 1.2rem;
    color: #000000;
    cursor: pointer;
    transition: .3s;
}
.title-with-bg {
    position: relative;
    display: inline-block;
}
.center-text {
    text-align: center;
}
.margin-0 {
    margin: 0 auto;
}
.block {
    display: block;
}
.center-text {
    text-align: center;
}
.title-with-bg .small-title {
    color: #00EBB5;
    font-size: 20px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-with-bg .big-title {
    color: rgba(208, 208, 208, 0.1);    
    font-size: 40px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.contaier  .input-group .btn:hover {
    transform: translateY(-5px);
    background: #00EBB5;
    color:black
}


@media (max-width: 430px) {
    .contaier {
        width: 300px;
    }
    .contaier .login-social {
        display: block;
    }
    .contaier .login-social a {
        display: block;
    }
}